
<div class="contact1">
    <div class="row">
        <div class="spacer">
            <div class="container">
                <div class="error-text">


                    <h1 class="error-code">404</h1>
                    <h2 class="error-message" i18n="@@imAfraidIcantDoThat">I'm afraid I can't do that.</h2>
                    
                    <p class="error-action">
                        <ng-container>{{ part1 }}</ng-container>
                        <a routerLink="/home" class="tds-link">{{ homepage }}</a>
                        <ng-container>{{ part2 }}</ng-container>
                        <a routerLink="/contact" class="tds-link">{{ contactUs }}</a>
                        <ng-container>{{ part3 }}</ng-container>
                      </p>
                    <!-- <ng-container i18n="@@joinUsBack">
                        Join Loom 21 back at the 
                        <a routerLink="/home" class="tds-link">homepage</a> 
                        or 
                        <a routerLink="/contact" class="tds-link">contact us</a> for help.
                      </ng-container> -->
                    <!-- <p class="error-action">Join Loom 21 back at the <a href="/" class="tds-link">homepage</a> or <a href="/support"  class="tds-link">contact us</a> for help.</p> -->
                    </div>
            </div>
        </div>
    </div>
</div>