<div class="footer4 b-t spacer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20">Loom21</h5>
                <p style="font-size: smaller; margin-top: 8px;" i18n="Loom21 footer@@loom21footer">Loom21: Simplify inventory tracking and payment links for Bitcoin or fiat, plus manage sales and customers. Start now!</p>            
            </div>
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20" i18n="Footer quick links@@footerQuickLinks">Quick Links</h5>
                <ul class="list-unstyled footer-links">
                    <li><a routerLink="/" i18n="Home nav@@homeNav">Home</a></li>
                    <li><a routerLink="/docs" i18n="Documentation nav@@docsNav">Documentation</a></li>
                    <li><a routerLink="/pricing" i18n="Pricing nav@@pricingNav">Pricing</a></li>
                    <li><a routerLink="/faq" i18n="FAQ nav@@faqNav">FAQ</a></li>
                    <li><a routerLink="/roadmap" i18n="Roadmap nav@@roadmapNav">Roadmap</a></li>
                    <li><a routerLink="/contact" i18n="Contact nav@@contactNav">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 m-b-30">
                <h5 class="m-b-20" i18n="Footer legal@@footerLegal">Legal & Community</h5>
                <ul class="list-unstyled footer-links">
                    <li><a routerLink="/privacy-policy" i18n="Privacy@@privacy">Privacy Policy</a></li>
                    <li><a href="https://github.com/loom21/loom21doc" target="_blank" i18n="Footer github@@footerGithub">GitHub</a></li>
                    <li><a href="https://t.me/+kcFe6QiEau0yNTVk" target="_blank" i18n="Footer telegram@@footerTelegram">Telegram Community</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="m-b-20 m-l-10" i18n="Get in touch@@getInTouch">Get in touch</h5>
                <div class="round-social light">
                    <!-- <a href="https://www.facebook.com/loom21app" target="_blank" class="link"><i class="fa fa-facebook"></i></a> -->
                    <a href="https://x.com/loom21app" target="_blank" class="link" aria-label="Loom21 on X (Twitter)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://t.me/+kcFe6QiEau0yNTVk" target="_blank" class="link" aria-label="Loom21 Telegram community"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                    <!-- <a href="#" class="link"><i class="fa fa-google-plus"></i></a> -->
                    <!-- <a href="https://www.youtube.com/@loom21app" target="_blank" class="link"><i class="fa fa-youtube-play"></i></a> -->
                    <a href="https://github.com/loom21/loom21doc" target="_blank" class="link" aria-label="Loom21 on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <!-- <a href="#" class="link"><i class="fa fa-instagram"></i></a> -->
                </div>
            </div>
        </div>
        <div class="f4-bottom-bar">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex font-14">
                        <div class="m-t-10 m-b-10 copyright">
                            &copy;
                            {{year | date: 'yyyy'}}
                            <a href="https://loom21.com">Loom21</a>
                        </div>
                        <div class="links ms-auto m-t-10 m-b-10">
                            <a routerLink="/privacy-policy" class="p-10 p-l-0" i18n="Privacy@@privacy">Privacy Policy</a>
                            <a class="btn waves-effect waves-light btn-success top m-l-30" href="#top" aria-label="Back to top"><i
                                    class="material-icons" aria-hidden="true">arrow_drop_up</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>