<div class="btn-group d-flex justify-content-center mb-4" role="group" aria-label="Subscription period selection">
    <input 
      type="radio" 
      class="btn-check" 
      name="selectedPlan" 
      id="month" 
      value="month" 
      [(ngModel)]="selectedPlan"
      autocomplete="off">
    <label class="btn btn-outline-primary" for="month" i18n="Monthly button@@monthly">MONTHLY</label>
  
    <input 
      type="radio" 
      class="btn-check" 
      name="selectedPlan" 
      id="year" 
      value="year" 
      [(ngModel)]="selectedPlan"
      autocomplete="off">
    <label class="btn btn-outline-primary" for="year" i18n="Annual button@@annual">ANNUAL
        <span class="badge bg-success position-absolute top-0 start-100 translate-middle-x rounded-pill">
            -10%
          </span>
    </label>
</div>

<div class="container pricing-box">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card-group text-center">
          <div *ngFor="let plan of activePlans" class="card pricing-plan">
            <div class="card-body">
              <h5 class="card-title">{{plan.productName}}</h5>
              <h1 class="display-4">
                {{plan.amount / 100}}
                <sup>{{plan.currency}}</sup>
              </h1>
              <h6 class="card-subtitle mb-3 text-primary">{{plan.perMonthText}}</h6>
              <ul class="list-group list-group-flush price-listing mb-3">
                <li class="list-group-item">{{plan.usersText}}</li>
                <li class="list-group-item">{{plan.ordersText}}</li>
                <li class="list-group-item">{{plan.storesText}}</li>
                <li class="list-group-item">{{plan.userAccessText}}</li>
                <li class="list-group-item">{{plan.apiText}}</li>
              </ul>
              <button 
                class="btn btn-primary" 
                i18n="Choose plan button@@choosePlan"
                (click)="onCreateOrder(plan)">
                Choose Plan
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>