<div class="bg-light">
    <section>
      <div id="banner1" style="background-color: white;" class="banner spacer">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-5 align-self-center" data-aos="fade-right" data-aos-duration="1500">
              <h2 class="title font-bold" i18n="Home top title@@homeH2TopTitle">Give your Business Real boost Now!</h2>
              <p class="m-t-40 m-b-30" i18n="Home top sub title@@homeTopSubTitle">Track and manage your inventory, invoices, customers, vendors, payments and more.</p>
              <div class="m-t-40">
                <button type="button" class="btn waves-effect waves-light btn-primary m-r-20"
                  style="min-width: 238px;" i18n="Demo account button@@demoButton">Explore Demo Account</button>
                <button type="button" class="btn waves-effect waves-light btn-success" style="min-width: 238px;" i18n="Try for free button@@tryForFreeButton">Try
                  loom21 for free</button>
              </div>
            </div>
            <div class="col-md-5 col-lg-6 align-self-center ms-auto test" data-aos="fade-left" data-aos-duration="1500">
              <img src="assets/images/form-banners/sale-order.PNG" alt="new sale order" class="img-fluid " />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <div class="bg-light">
    <section>
      <div id="banner1" style="background-color: #e3f2fd;" class="banner spacer">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-lg-5 align-self-center" data-aos="fade-right" data-aos-duration="1500">
              <h2 class="title font-bold" i18n="Features title@@featuresTitle">Features</h2>
              <h4 i18n="Benefits and features@@benefitsAndFeatures">Key benefits and platform features …</h4>
              <div class="m-t-10 m-b-30">
  
                <ul class="gfg">
                  <li i18n="No kyc@@noKYC">No KYC! Sign-up with just an email address</li>
                  <li i18n="Accept Payments@@acceptPayments">Accept Bitcoin, Lightning, and credit/debit card payments</li>
                  <li i18n="Manage clients and suppliers@@manageClientsSuppliers">Manage clients and suppliers</li>
                  <li i18n="Track inventory@@trackInventory">Track products inventory</li>
                  <li i18n="Control your own data@@controlData">Control your own data - Import and Export</li>
                  <li i18n="Get notified@@getInvoiceNotification">Get notified when invoices are paid</li>
                </ul>
  
                <!-- <div class="icon-holder">
                  <i class="material-icons">check</i>
                </div> -->
                <span>
                </span>
              </div>
            </div>
            <div class="col-md-5 col-lg-6 align-self-center ms-auto" data-aos="fade-left" data-aos-duration="1500">
              <img src="assets/images/form-banners/desktop-mobile-application2.png" alt="desktop and mobile application" class="img-fluid " />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <div class="bg-light">
    <section>
      <div id="banner1" style="background-color: white;" class="banner spacer">
        <div class="container">
          <div class="row">
  
            <div class="col-md-7 col-lg-5 align-self-center" data-aos="fade-left" data-aos-duration="1500">
              <img src="assets/images/form-banners/bitcoin-lightning2.png" alt="bitcoin lightning"
                class="img-fluid " />
            </div>
            <div class="col-md-5 col-lg-6 align-self-center ms-auto" data-aos="fade-right" data-aos-duration="1500">
              <h2 class="title font-bold" i18n="Get paid in bitcoin@@theEasiestWay">The easiest way
                to get paid in bitcoin</h2>
              <p class="m-t-40 m-b-30" i18n="Send invoices with ease@@sendInvoicesAndPayments">Send invoices with ease. Accept payments with Bitcoin,
                Lightning or credit/debit cards.</p>
              <div class="m-t-40">
                <!-- <button type="button" class="btn waves-effect waves-light btn-outline-primary" i18n="Features title@@featuresTitle">Features</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  